*{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
:root{
    --main-branco:color rgb(255, 255, 255);
    --main-verde:color rgb(17, 150, 105);
}
/* css header*/
header{
    /*ajustar cabeçalho*/
    background-color: rgb(17, 150, 105);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-bottom: solid;

}
header a{
    /*ajustar cabeçalho*/
    padding: 10px;
    color: rgb(255, 255, 255);
    border: solid;
    text-decoration: none;

}
.empurra{
    /*ajustar cabeçalho*/
    margin-left: 450px;
}
a{ 
    /*links cabeçalho*/
    padding: 3px;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    color:  rgb(255, 255, 255);
    text-decoration: none;
}
.newsbody{
    /*corpo de noticias*/
   text-align: center;
   margin-top: 20px;
   margin-left: 200px;
   margin-right: 200px;
   background-color:rgb(255, 255, 255);
   border-radius: 10px;
   padding: 30px;
}
.abas{
    /*abas dos esportes*/
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    border: solid;
    border-radius: 10px;
    padding: 5px;
    border-color:  rgb(255, 255, 255);
}
.esportes{
    margin: auto;
}
h3{
    text-align: center;
    margin: 5px;
    color:  rgb(255, 255, 255);;
}
p,h2{
    padding: 10px;
    
}
p{
    text-indent: 20px;
}
fieldset{
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    background-color:rgb(17, 150, 105);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
    border: solid;
    border-color:  rgb(255, 255, 255);
    border-radius: 10px;
}
input{
    padding: 5px;
    margin: 10px;   
}
.labeltitulo{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: bold;
    padding-top: 30px;  
}
footer{
    /*rodapé*/
    text-align: center;
    background-color:rgb(17, 150, 105);
    padding: 20px;
    color:rgb(255, 255, 255);


}
    label{
        text-align: center;
    }
    .enviar{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold

    }
    img{
        border-radius: 10px;
    }
    body{
        background-color:rgb(17, 150, 105);
        
    }
    .pnews{
        text-align: justify;
        text-indent: 50px;
    }




